<div>
    <h4 class="title">Đăng nhập</h4>
    <label for="username">Tài khoản</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Tài khoản" required>
    <label for="password">Mật khẩu</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu" required>
    <button onclick="login()">
        Sign In
    </button>
</div>

<link rel="stylesheet" href="css/index.css">
<script src="js/index.js"></script>