<h3 id="title">Danh sách tài khoản</h3>
<table>
    <tr id="name">
        <td>Tên</td>
        <td>Địa chỉ</td>
        <td>Email</td>
        <td>Số điện thoại</td>
        <td>Trạng thái</td>
    </tr>
</table>

<link rel="stylesheet" href="css/manager.css">
<script src="js/manager.js"></script>