<h3 id="title">Đơn hàng</h3>
<table>
    <tr id="name">
        <td>Khách hàng</td>
        <td>Tên hàng</td>
        <td>Mô tả</td>
        <td>Ngày đặt</td>
        <td>Ngày giao</td>
        <td>Số lượng</td>
        <td>Giá bán</td>
        <td>Thành tiền</td>
    </tr>
</table>

<link rel="stylesheet" href="css/order.css">
<script src="js/order.js"></script>