<h3 id="title">Doanh số trong tháng</h3>
<canvas id="chart1"></canvas>
<legend for="chart1"></legend>
<h3 id="title">Doanh số theo mặc hàng trong tháng</h3>
<canvas id="chart2"></canvas>
<legend for="chart2"></legend>

<link rel="stylesheet" href="css/statistics.css">
<script src="js/statistics.js"></script>