<h3 id="title">Cập nhật danh sách</h3>
<table>
    <tr id="name">
        <td>Tên hàng</td>
        <td>Mô tả</td>
        <td>Số lượng</td>
        <td>Giá bán</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <button type="submit" class="submit">Cập nhật</button>
        </td>
    </tr>
</table>

<link rel="stylesheet" href="css/update.css">
<script src="js/update.js"></script>