<div class="info">
    <img class="avatar" src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/20228543_1943522365936603_1430302080829074538_n.jpg?_nc_cat=0&oh=f3a973424f62970422ba3eea5ab829f1&oe=5B579F46"
        alt="avatar">
    <p class="info">
        MSSV: 1512460
        <br> Họ tên: Đậu Bá Kiên
        <br> Ngày sinh: 12/11/1997
        <br> Email: hhuuson97@gmail.com
        <br> Điện thoại: 01237149335
        </nav>
    </p>
</div>

<div class="info">
    <img class="avatar" src="img/avatar/avatar2.jpg" alt="avatar">
    <p class="info">
        MSSV: 1512460
        <br> Họ tên: Hồ Hữu Sơn
        <br> Ngày sinh: 10/04/1997
        <br> Email: hhuuson97@gmail.com
        <br> Điện thoại: 01237149335
        </nav>
    </p>
</div>

<link rel="stylesheet" href="css/aboutUs.css">
<script src="js/aboutUs.js"></script>