<h3 id="title">Thông tin giỏ hàng</h3>
<table>
    <tr id="name">
        <td>Tên hàng</td>
        <td>Mô tả</td>
        <td>Số lượng</td>
        <td>Giá bán</td>
        <td>Thành tiền</td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>
            <button type="submit" class="submit" onclick="return submit();">Thanh toán</button>
        </td>
    </tr>
</table>

<script src="js/cart.js"></script>
<link rel="stylesheet" href="css/cart.css">