<h3 id="title">Lịch sử mua hàng</h3>
<table id="history">
    <tr id="name">
        <td></td>
        <td>Ngày đặt hàng</td>
        <td>Ngày nhận hàng</td>
        <td>Người nhận</td>
        <td>Địa chỉ</td>
        <td>Thành tiền</td>
    </tr>
</table>

<script src="js/history.js"></script>
<link rel="stylesheet" href="css/history.css">