.body {
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 10px;
  width: 300px;
  background: #03899c;
  padding: 10px 30px;
  border-radius: 10px;
  overflow: auto;
}

label {
  color: white;
  margin-top: 5px;
}

button {
  border-radius: 5px;
  margin: 10px 5px 0 5px !important;
  float: right;
}

h4.title {
  color: white;
  font-weight: bold;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #bbbbbb;
}

input.invalid {
  background-color: #ffdddd;
}
